@model practic1.Models.Предметыукласса
@{ 
    ViewBag.Title = "Journal";
}

<h2>Journal</h2>


<h1>@this.Model.номер_класса</h1>

@foreach(var item in this.Model.Предметы)
{
    @Html.ActionLink(item.Название_предмета, "Journal2",new {id = Model.ID_класса,predm = item.ID_предмета})
    <p></p>
}

